@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Text */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-primary {
  color: var(--color-forestgreen);
}

.text-secondary {
  color: whitesmoke;
}

.text-shadow-black {
  text-shadow: 1px 1px 1px black;
}

.paragraph-text {
  font-size: 1rem;
  line-height: 1.5rem;

  @media screen and (min-width: 1024px) {
    font-size: 1.15rem;
    line-height: 1.75rem;
  }
}

/* Gradients */
.startGradientBackground {
  background: #ffffff;
  background: linear-gradient(
    180deg,
    white 0%,
    var(--color-norway) 50%,
    var(--color-forestgreen) 100%
  );
}
.finishGradientBackground {
  background: linear-gradient(
    0deg,
    var(--color-tasman) 0%,
    var(--color-whitesmoke) 50%,
    var(--color-whitesmoke) 100%
  );
}
/* Swiper */
.mySwiper .swiper-pagination-bullet {
  background-color: var(--color-whitesmoke);
  opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: var(--color-everglade);
}

/* Colors */
:root {
  --color-tasman: #cad8c7;
  --color-surf: #c1d9c1;
  --color-norway: #a0bf9f;
  --color-corduroy: #667467;
  --color-lunargreen: #353f34;
  --color-forestgreen: #29382c;
  --color-everglade: #204e25;
  --color-honeydew: #f0fff4;
  --color-whitesmoke: #f5f5f5;
}
