.ctaSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 2rem;
  color: var(--color-forestgreen);
}

.ctaContent {
  max-width: 600px;
}

.ctaButtons {
  display: flex;
  gap: 1rem;
}

.btn {
  background: var(--color-tasman);
  color: var(--color-forestgreen);
  border: 0.5px solid var(--color-norway);
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  margin: 0 auto;
}
